<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%- include('navbar')%>
<div class="py-16 px-16 md:col-span-4 sm:px-2 m-16" id="content"><%- html %></div>
</body>
<script src="/src/app.js"></script>
</html>