<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('navbar') %>
</head>
<body>
    <div id="content"></div>
</body>
<script src="/src/app.js"></script>
<script>
    const contentDiv = document.getElementById('content');
    contentDiv.innerHTML = '<%= html %>';
  </script>
</html>