<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link href="./Views/output.css" rel="stylesheet">
    <title>Blog</title>
</head>
<body class="">
    <div id="root"></div>
    <div class="md:grid grid-cols-6">
        <div class="md:col-span-1">
            <nav class="text-right">
                <div class="flex justify-between items-center">
                    <h1 class="font-semibold text-3xl border-b text-left ml-2">
                        <a class="font-Special" href="/">Code Your Career</a>
                    </h1>
                    <div class="px-4 cursor-pointer md:hidden" id="icon">
                        <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                          </svg>                          
                    </div>
                </div>
                <ul class="m-4 mt-10 hidden md:block" id="menu">
                    <li class="px-6">
                        <a href="/">
                            <span class="text-gray-500 hover:text-gray-800 text-sm font-Press">1. Home</span>
                        </a>
                    </li> 
                    <li class="px-6 mt-2">
                        <a href="/about">
                            <span class="text-gray-500 hover:text-gray-800 text-sm font-Press">2. About</span>
                        </a>
                    </li>
                    <li class="px-6 mt-2">
                        <a href="">
                            <span class="text-gray-500 hover:text-gray-800 text-sm font-Press">3. Contact</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
 <!-- end nav -->
    <main class="bg-gray-200 py-16 px-16 md:col-span-4 sm:px-2">
        <header>
            <h1 class=" mb-12 text-4xl font-bold mx-14 font-Merri">
                Articles
            </h1>
        </header>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 md:gap-10 mx-14">
    <% articles.forEach(article =>  { %>
        <div class="card">
            <img class="w-full h-40 sm\:h-40 object-cover" src='<%= article.img %>'></img>
            <div>
                <h4 class="text-gray-600 text-2xl font-serif font-bold m-4 font-Roboto"><%= article.title %></h4>
                <div class="text-sm m-4 font-Inter">
                    <%= article.date.toLocaleDateString() %> - <%= article.author %>
                </div>
            </div>
        </div>
    <% }) %>
    </div>
    </main>
</div>
<script src="/src/app.js"></script>
</body>
</html>