<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link href="/Views/output.css" rel="stylesheet">
    <title>navbar includes</title>
</head>
<div class="md:grid grid-cols-6">
    <div class="md:col-span-1">
        <nav class="text-right sticky top-0">
            <div class="flex justify-between items-center">
                <h1 class="font-semibold text-3xl border-b text-left ml-2">
                    <a class="font-Special" href="/">Coded Career</a>
                </h1>
                <div class="px-4 cursor-pointer md:hidden fixed right-0" id="icon">
                    <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                      </svg>                          
                </div>
            </div>
            <ul class="m-4 mt-10 hidden md:block" id="menu">
                <li class="px-6">
                    <a href="/">
                        <span class="navText">Home</span>
                    </a>
                </li> 
                <li class="px-6 mt-2 sm:text-xs">
                    <a href="/about">
                        <span class="navText">About</span>
                    </a>
                </li>
                <li class="px-6 mt-2">
                    <a href="">
                        <span class="navText">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>